@media (min-width: 768px) {

  #menuBtn {
    display: none;
  }

  #navMenu {
    display: block !important;
  }

  #navMenu ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  nav li {
    margin: 0;
  }
}