@media (min-width: 768px) {

    #navMenu {
        display: block;
    }

    #navMenu ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    #menuBtn {
        display: none;
    }

    #navMenu {  
    display: block !important;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .list .card {
        grid-template-columns: 1fr; /* still single column for list view */
    }



    #members.grid {
    display: grid;
    gap: 1rem; /* optional, for spacing */
    }

}