.grid-container {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;

  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "card8";
}

/* TABLET */
@media (min-width: 600px) {
  .grid-container {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}

/* DESKTOP */
@media (min-width: 900px) {
  .grid-container {
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6"
      "card7 card8 .";
  }
}
  /* HOVER EFFECT (ONLY LARGE) */
.card img:hover {
    filter: brightness(70%);
    transform: scale(1.05);
    transition: 0.3s;
}
