body{
    font-family: 'Roboto,' sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a5f;
    color: white;
    padding: 1em;
}

nav ul{
    list-style: none;
    display: none;
    padding: 0;
    background: #333;
    margin: 0;
}

nav ul.open{
    display: block;
}

nav ul li{
    padding: 0.5rem;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a.active{
    color: yellow;
}

main{
    padding: 1rem;
}

.course-btn{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    cursor: pointer;
    background: #aa3e3e;
    border-radius: 5px;
}

footer{
    background: #1e3a5f;
    color: white;
    padding: 1rem;
    text-align: center;
}